<span class="contact_details_comp">
  <p class="name">Name :{{model.name}}</p>
  <p class="uid">uid :{{model.uid}}</p>
  <p class="phone_no">Phone Number :{{model.phone_no}}</p>
  <p class="address">Address :{{model.address}}</p>
  <p class="city">City :{{model.city}}</p>
  <p class="state">State :{{model.state}}</p>
  <p class="mail_id">Mail Id :{{model.mail_id}}</p>
  <p class="alternate_mail_id">Alternate Mail Id :{{model.alternate_mail_id}}</p>
</span>
